
<hr>
<br>
<br>
<br>
<div class="row" style="margin: 14.5em auto;">
	<div class="col">
<p>  Hola {{ req.body.nombre }} !<a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrrar sesión<i class="fa fa-sign-out"></i></a></p>
</div>
</div>
